<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html>
  <head>
    <title>Suf Url Shortener</title>
    <meta name="description" content="URL shortener made based on Freecodecamp's spec">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        URL Shortener API
      </h1>
    </header>

    <main>
      <h4>
        Description:
      </h4>
      <p>
        This API allows you to create shortened urls by pasting a full url.
      </p>
      <h4>
        Example:
      </h4>
      <p>
        Enter:
      </p>
      <code>
        https://cyan-suit.glitch.me/new/:urlname
      </code>
      <p>
        And you will receive a JSON object like below:
      </p>
      <code>{ "original_url":"http://foo.com:80", "short_url":"hhttps://cyan-suit.glitch.me/2030" }</code>
      <p>
        You can then use the short_url in your browser and it will redirect you to the original url!
      </p>
    </main>

    <footer>
      <a href="https://glitch.com">
        Remix this in Glitch
      </a>
    </footer>

    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>

  </body>
</html>
